.sign-in-containers {
    background-image: url('../img/soiree.jpeg');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 671px;
    /* max-width: 400px; */
    /* margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px; */
    /* background-color: saddlebrown; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  
  .sign{
    color: white;
  }

  .sign-in-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: purple;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
    color: white;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  